{% extends 'inicio.html' %}

{% load static %}

{% block secciones %}

<h2>Detalle del cliente:</h2>

<br>&nbsp;&nbsp;&nbsp;&nbsp;Nombre: {{cliente.nombre}}</br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Apellido: {{cliente.apellido}}</br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Dni: {{cliente.dni}}</br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Telefono: {{cliente.telefono}}</br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Direccion: {{cliente.direccion}}</br>

<br>&nbsp;&nbsp;&nbsp;&nbsp;<button>
    <a href="{% url 'lista_clientes'  %}" >Volver</a>
</button>


{% endblock %}

