{% extends 'inicio.html' %}

{% load static %}

{% block secciones %}

<button>
<a href="{% url 'crea_empleado' %}" >Dar de Alta Nuevo Empleado</a>
</button>
<button>
    <a href="{% url 'busqueda_empleado' %}" >Buscar Empleado</a>
    </button>
    <h1> 
        
        Lista de Empleados Activos: </h1>

    <ul>

        {% for empleado in empleados %}
        <li>
            <a href="{% url 'detalle_empleado' empleado.id %}">

            {{empleado}}

            </a>
        </li>
        <div>
            <button>
                <a href="{% url 'borraempleado' empleado.id %}">Eliminar</a>
            </button>
            <button>
                <a href="{% url 'empleadoupdate' empleado.id %}">Modificar</a>
            </button>
        </div>

        {% endfor %}

    </ul>

{% endblock %}